@import "./reset.scss";
@import "./scrollbar.scss";
@import "./public.scss";
 body {
   height: 100%;
 }
.el-message--success{
  border:1px dashed  #2c3442 !important;
  opacity: 0.9;
  padding: 10px !important;
  min-width: 10% !important;
}
.el-message--error{
  border:1px dashed  #2c3442 !important;
  opacity: 0.9;
  padding: 10px !important;
  min-width: 10% !important;
}
.el-message--warning{
  border:1px dashed  #2c3442 !important;
  opacity: 0.9;
  padding: 10px !important;
  min-width: 10% !important;
}
// 黑白色调
// html{
// 	-webkit-filter: grayscale(100%);
// 	-moz-filter: grayscale(100%);
// 	-ms-filter: grayscale(100%);
// 	-o-filter: grayscale(100%);
// 	filter: grayscale(100%);
// 	filter: gray; 
// }
